html,body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: beige;
}
header {

    background-color: #fff8dc;
    text-align: center;
    font-family: Arial;
    font-size: 2vw;

}

.navigl {
    margin-left: auto;
    margin-right: 10px;
    margin-bottom: 10px;
}
.navigr {
    margin-right: auto;
    margin-left: 10px;
    margin-bottom: 10px;
}

nav {
    border-top: 3px black solid;
    border-bottom: 3px black solid;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;

}

.fullka {
    display: flex;
    width: 100%;
}
.info {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    width: 72%;
    font-size: 1vw;

}
.left {
    flex: 0.3;
    background-color: maroon;


}

.stred {
    flex: 1.5;

    padding: 0% 5% 0% 5%;
    text-align: justify;
    background-color: #f0ead6;
    font-family: Arial;


}
.odsek {

    font-size: max(1vw,10px);
}
.olist {
    padding-left: 3%;
    font-size: 3vw;

}
.right {
    flex: 0.3;
    background-color: maroon;

}

@media only screen and (max-width: 800px) {
    .left, .right {
        display: none;
    }
}
@media only screen and (min-width: 600px) {
    .odsek, .olist {
        font-size: 1vw;
    }
    #tabulkarally {
        font-size: 1vw;
    }
}


footer {
    margin: 20px;
    display: inline;

}
h1 {
    color: saddlebrown;
}
h2 {
    font-size: small;
    font-family: Arial;
    color: grey;
    margin: 0;
    display: inline;
    padding: 0;
}

.obr001 {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.obrstred {
    display: block;
    width: 80%;
    margin-right: auto;
    margin-left: auto;

}
.imgmain {
    width: 100%;
}


#tabulkarally {
    width: 100%;
    border: 3px solid black;
    border-collapse: collapse;
    font-size: max(1vw,10px);
    color: black;
}
th {
    border: 1px solid black;
    border-bottom: 2px solid black;
    border-collapse: collapse;
    background-color: khaki;
}
td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: beige;
}
.backmm {
    margin: 20px;
    background-color: darkgray;
    border: solid 1px red;
    color: black;
    font-family: Arial;
    font-style: italic;
}