#can {
    position: absolute;
    border: 3px solid black;
}
#canvasimg {
    position:absolute;
    left:55%;
    display:none;
    border: 3px solid black;
}
#napis {
    position: absolute;
    top: 520px;
}
#btn {
    position:absolute;
    top:520px;
    left:15%;
}
#clr {
    position:absolute;
    top:520px;
    left:10%;
}
#choose {
    position:absolute;
    top:12%;
    left:43%;
}
#green {
    position:absolute;
    top:15%;
    left:45%;
    width:10px;
    height:10px;
    background:green;
}
#blue {
    position:absolute;
    top:15%;
    left:47%;
    width:10px;
    height:10px;
    background:blue;
}
#red {
    position:absolute;
    top:15%;
    left:49%;
    width:10px;
    height:10px;
    background:red;
}
#yellow {
    position:absolute;
    top:17%;
    left:45%;
    width:10px;
    height:10px;
    background:yellow;
}
#orange {
    position:absolute;
    top:17%;
    left:47%;
    width:10px;
    height:10px;
    background:orange;
}
#black {
    position:absolute;
    top:17%;
    left:49%;
    width:10px;
    height:10px;
    background:black;
}
#eraser {
    position:absolute;
    top:20%;
    left:43%;
}
#white {
    position:absolute;
    top:22%;
    left:45%;
    width:15px;
    height:15px;
    background:white;
    border:2px solid black;
}
#smaller {
    position: absolute;
    top: 25%;
    left: 45%;
}
#larger {
    position: absolute;
    top: 25%;
    left: 49%;
}